[user]
	email = amit.amit.rahman@gmail.com
	name = amitrahman1026
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/amit/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/amit/.stCommitMsg
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
;[url "git@github.com:"]
;	insteadOf = https://github.com/
[pull]
	rebase = true
